.layout {
  width: 100vw;
  height: 100vh;
  .contenLayout {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    .contenLayout_content {
      box-sizing: border-box;
      margin: 12px;
      display: flex;
    }
  }
  .ant-layout-header {
    padding-inline: 0px;
  }
}
