.siderlayout {
  width: 212px;
  height: 100%;
  .logo {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .menu {
    width: 100%;
    height: calc(100% - 94px);
    overflow-y: auto;
    padding-top: 12px;
    .ant-menu-root.ant-menu-inline,
    .ant-menu-root.ant-menu-vertical {
      border: none;
    }
  }
  .version {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
