.header_layout {
  box-sizing: border-box;
  height: 54px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header_layout_right {
    height: 54px;
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    line-height: 54px;
  }
}
