//全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  --textBlack: #333;
  --red: #ff7875;
  --bg_color: #2e64fa;
  height: 100vh;
  overflow: hidden;
  font-family: "LingCaiTi";
  /* 在全局样式中定义滚动条样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 4px;
  }

  /* 鼠标悬停时的滑块样式 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}

:root {
  --textcolor: #2e64fa;
  --textcolor2: "";
  color: #333;
  font-family: "LingCaiTi";
  font-weight: 400;
}

@font-face {
  font-family: LingCaiTi;
  font-weight: 400;
  src: url("./font/PingFang.otf");
}
@font-face {
  font-family: LingCaiTiBold;
  font-weight: 500;
  src: url("./font/PingFang Bold.ttf");
}
