// 存放公共类名样式
.p_pages {
  display: flex;
  width: 100%;
  &-center {
    flex: 1;
    overflow-x: auto;
    background-color: #fff;
    margin-right: 12px;
    border-radius: 4px;
    padding: 12px;
  }
  &-sider {
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      margin-top: 4px;
      margin-bottom: 10px;
    }
  }
}
