//存放antd的样式修改
.ant-layout,
.ant-layout-content,
.ant-table,
.ant-menu,
.ant-btn,
.ant-select,
.select,
.ant-picker,
.ant-pagination,
.ant-menu-light,
.ant-menu-item-selected,
.ant-pagination,
.ant-col,
.ant-steps,
.ant-input,
.ant-form,
.ant-modal,
.ant-switch,
.ant-result,
.ant-dropdown-menu-item,
.ant-select-selector,
.ant-upload,
.ant-form-item-explain-error,
.ant-tabs,
.ant-form-item,
.ant-checkbox-wrapper,
.ant-row,
.ant-tree,
.ant-descriptions {
  font-family: "LingCaiTi";
}
.ant-tooltip {
  font-family: "LingCaiTi";
  font-size: 13px;
}
.ant-table-wrapper .ant-table {
  font-family: "LingCaiTi";
}
.ant-table-tbody > tr > td {
  user-select: text;
  font-family: "LingCaiTi";
}
.ant-tooltip-inner {
  user-select: text;
}
.ant-dropdown-menu-item-active {
  background-color: #f0f6ff !important;
}
.ant-popover-content {
  max-width: 320px;
}
.ant-input::placeholder {
  color: #999;
}
.ant-select-selector .ant-select-selection-placeholder {
  color: #999;
  font-family: "LingCaiTi";
}
.ant-picker-input > input:placeholder-shown {
  text-align: center;
}
.ant-picker-input > input {
  text-align: center;
}
.ant-picker-input input::placeholder {
  color: #999 !important;
  font-family: "LingCaiTi" !important;
}
.ant-btn-primary {
  box-shadow: none;
}
.sicMessage {
  top: 5% !important;
  &-notice {
    &-content {
      padding: 0 !important;
      font-size: 18px;
      font-family: "LingCaiTi" !important;
      span:nth-child(2) {
        display: inline-block;
        vertical-align: middle;
      }
      .anticon {
        font-size: 18px !important;
        vertical-align: middle !important;
      }
      .anticon-check-circle,
      .anticon-close-circle {
        color: #fff !important;
      }
      .sicMessage-custom-content {
        padding: 20px 20px !important;
        border-radius: 8px !important;
      }
      .sicMessage-success {
        color: #fff;
        background-color: #38b865 !important;
      }
      .sicMessage-error {
        color: #fff;
        background-color: #ff7875 !important;
      }
    }
  }
}
