.table-sider-pages {
  .form {
    .ant-form-item {
      margin-bottom: 4px;
    }
    .simple {
      display: flex;
      justify-content: space-between;
      .info {
        display: flex;
      }
    }
  }
}
